<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sky Edge" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-visit-control" content="reload">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest (Uncomment when needed) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="shortcut icon" href="<%= image_path('favicon.png') %>" type="image/x-icon">

    <%= stylesheet_link_tag "animate", "application", "tailwind", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js", "data-turbo-track": "reload", defer: true %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js", "data-turbo-track": "reload", defer: true %>



    <%= javascript_importmap_tags %>
  </head>

  <body class="">
      <%= render "shared/header" %>
      <%= yield %>
      <%= render "shared/footer" %>
  </body>
</html>
